In [7]:
import pandas as pd

#Load the dataset into a dataframe
df = pd.read_csv("C:/Users/esrav/Desktop/projects/sem 2/AI project/final.csv")

In [9]:
print(df.head())

         Date Company      Open      High       Low     Close     Volume  \
0  1980-12-12     JNJ  0.644482  0.669556  0.644482  0.669556  5011200.0
1  1980-12-15     JNJ  0.669556  0.688129  0.668627  0.677914  5932800.0
2  1980-12-16     JNJ  0.677914  0.707631  0.676056  0.704845  9475200.0
3  1980-12-17     JNJ  0.705773  0.713202  0.705773  0.709487  6801600.0
4  1980-12-18     JNJ  0.709488  0.715989  0.703916  0.706702  4603200.0

       Sector  EMA_50  EMA_200  RSI  MACD  MACD_Signal  MACD_Hist  Season
0  Healthcare     NaN      NaN  NaN   NaN          NaN        NaN  Winter
1  Healthcare     NaN      NaN  NaN   NaN          NaN        NaN  Winter
2  Healthcare     NaN      NaN  NaN   NaN          NaN        NaN  Winter
3  Healthcare     NaN      NaN  NaN   NaN          NaN        NaN  Winter
4  Healthcare     NaN      NaN  NaN   NaN          NaN        NaN  Winter

In [10]:
print(df.tail())

               Date   Company        Open        High         Low       Close  \
1346101  2024-06-13  DX-Y.NYB  104.690002  105.279999  104.639999  105.199997
1346102  2024-06-14  DX-Y.NYB  105.230003  105.809998  105.180000  105.550003
1346103  2024-06-17  DX-Y.NYB  105.510002  105.650002  105.309998  105.320000
1346104  2024-06-18  DX-Y.NYB  105.300003  105.559998  105.129997  105.260002
1346105  2024-06-20  DX-Y.NYB  105.199997  105.669998  105.199997  105.589996

         Volume Sector      EMA_50     EMA_200        RSI      MACD  \
1346101     0.0  Index  104.804044  104.305825  54.643913 -0.031199
1346102     0.0  Index  104.833298  104.318205  58.341592  0.030957
1346103     0.0  Index  104.852384  104.328173  55.159192  0.060954
1346104     0.0  Index  104.868369  104.337445  54.326711  0.078975
1346105     0.0  Index  104.896668  104.349908  58.074632  0.118519

         MACD_Signal  MACD_Hist  Season
1346101    -0.110334   0.079135  Summer
1346102    -0.082076   0.113033  Summer
1346103    -0.053470   0.114424  Summer
1346104    -0.026981   0.105956  Summer
1346105     0.002119   0.116399  Summer

In [8]:
# Step 2: Initial Exploration
# Get basic information about the dataset
print(df.info())

# Get summary statistics for numerical columns
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1346106 entries, 0 to 1346105
Data columns (total 15 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Date         1346106 non-null  object
 1   Company      1346106 non-null  object
 2   Open         937771 non-null   float64
 3   High         937771 non-null   float64
 4   Low          937771 non-null   float64
 5   Close        937771 non-null   float64
 6   Volume       937771 non-null   float64
 7   Sector       937771 non-null   object
 8   EMA_50       953996 non-null   float64
 9   EMA_200      936292 non-null   float64
 10  RSI          1344546 non-null  float64
 11  MACD         956829 non-null   float64
 12  MACD_Signal  955885 non-null   float64
 13  MACD_Hist    955885 non-null   float64
 14  Season       1346106 non-null  object
dtypes: float64(11), object(4)
memory usage: 154.0+ MB
None
                Open           High            Low          Close  \
count  937771.000000  937771.000000  937771.000000  937771.000000
mean       87.385307      88.398389      86.403388      87.422928
std       282.157562     285.315021     279.069407     282.235422
min         0.000000       0.017356       0.017356       0.017356
25%         6.600000       6.708661       6.502810       6.611818
50%        24.066529      24.392070      23.730000      24.070557
75%        68.570000      69.400002      67.709837      68.578270
max      8097.979980    8211.400391    8010.000000    8099.959961

             Volume         EMA_50        EMA_200           RSI  \
count  9.377710e+05  953996.000000  936292.000000  1.344546e+06
mean   1.726464e+07      94.723087      92.691869  6.619608e+01
std    8.311645e+07     315.609917     300.676377  2.379452e+01
min    0.000000e+00       0.023870       0.038878  0.000000e+00
25%    7.174000e+05       7.079889       7.566547  4.788635e+01
50%    2.624500e+06      25.304440      25.645079  5.948677e+01
75%    7.953031e+06      73.647093      72.901908  1.000000e+02
max    9.230856e+09    7661.913990    7078.326733  1.000000e+02

                MACD    MACD_Signal     MACD_Hist
count  956829.000000  955885.000000  9.558850e+05
mean        0.385566       0.384072  1.257958e-03
std         5.910711       5.593333  1.688887e+00
min      -422.071271    -324.455424 -1.760427e+02
25%        -0.131962      -0.119139 -6.973764e-02
50%         0.035360       0.035970  7.660000e-07
75%         0.445378       0.429047  7.700163e-02
max       232.275563     216.523878  8.770965e+01

In [11]:
# Check for missing values
print(df.isnull().sum())

Date                0
Company             0
Open           408335
High           408335
Low            408335
Close          408335
Volume         408335
Sector         408335
EMA_50         392110
EMA_200        409814
RSI              1560
MACD           389277
MACD_Signal    390221
MACD_Hist      390221
Season              0
dtype: int64

In [12]:
#dropping the null values
df.dropna(inplace=True)

In [13]:
# Check for missing values
print(df.isnull().sum())

Date           0
Company        0
Open           0
High           0
Low            0
Close          0
Volume         0
Sector         0
EMA_50         0
EMA_200        0
RSI            0
MACD           0
MACD_Signal    0
MACD_Hist      0
Season         0
dtype: int64

In [14]:
#checking duplicate values
df.duplicated().sum()

0

In [15]:
print(df.dtypes)

Date            object
Company         object
Open           float64
High           float64
Low            float64
Close          float64
Volume         float64
Sector          object
EMA_50         float64
EMA_200        float64
RSI            float64
MACD           float64
MACD_Signal    float64
MACD_Hist      float64
Season          object
dtype: object

In [16]:
#data types conversion
df['Date'] = pd.to_datetime(df['Date'])

In [17]:
#printing the information after type conversion
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 914289 entries, 199 to 1346105
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Date         914289 non-null  datetime64[ns]
 1   Company      914289 non-null  object
 2   Open         914289 non-null  float64
 3   High         914289 non-null  float64
 4   Low          914289 non-null  float64
 5   Close        914289 non-null  float64
 6   Volume       914289 non-null  float64
 7   Sector       914289 non-null  object
 8   EMA_50       914289 non-null  float64
 9   EMA_200      914289 non-null  float64
 10  RSI          914289 non-null  float64
 11  MACD         914289 non-null  float64
 12  MACD_Signal  914289 non-null  float64
 13  MACD_Hist    914289 non-null  float64
 14  Season       914289 non-null  object
dtypes: datetime64[ns](1), float64(11), object(3)
memory usage: 111.6+ MB
None

In [18]:
#checking the shape of the dataset
print(df.shape)

(914289, 15)